html, body {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
    font-family: sans-serif;
    font-size: 6vw;
}

.navigation {
  height: 18vw;
}

.upper {
    position: relative;
    padding-left: 6vw;
    padding-right: 6vw;
    top: 2vw;
}

.lower {
    text-align: center;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

/*Text Styling*/

.upper h1 {
    margin-top: 3vw;
    margin-bottom: 4vw;
    font-size: 13vw;
    color: #333;
}

.upper p {
    margin-top: 3vw;
    font-size: 7vw;
    color: #333;
}

#deepTitle, #deepSubtitle {
-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 1.5s; /* Firefox < 16 */
    -ms-animation: fadein 1.5s; /* Internet Explorer */
     -o-animation: fadein 1.5s; /* Opera < 12.1 */
        animation: fadein 1.5s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}



/*Button to go to the settings page*/

button.settings {
    background-color: transparent;
    border: none;
    color: #001ca8;
    padding: 3vw 3vw;
    text-align: center;
    font-size: 10vw;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}


button.settings:active {
    color: #000156;
    transform: scale(0.95);

}

button.previous {
    background-color: transparent;
    border: none;
    position: absolute;
    transform: scale(0.85);
    right: 0%;
    color: #001ca8;
    padding: 2.75vw 2.75vw;
    text-align: center;
    font-size: 10vw;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

button.previous:active {
    color: #000156;
    transform: scale(0.8);

}

button.close {
    background-color: transparent;
    border: none;
    color: #001ca8;
    padding: 2.75vw 4.5vw;
    transform: scale(1.05);
    text-align: center;
    font-size: 10vw;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

button.close:active {
    color: #000156;
    transform: scale(0.95);
}

/*Button for new questions*/
button.newQuestion {
    display: inline-block;
    border: none;
    padding: 1.2rem 2rem;
    margin: 0 auto;
    text-decoration: none;
    background: #001ca8;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 9vw;
    cursor: pointer;
    text-align: center;
    width: 100%;
    float: none;
    max-width: auto;
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    transition: background 50ms ease-in-out,
                transform 50ms ease;
}

button.newQuestion:active {
    background-color: #000156;
    transition-duration: 50ms;
}

/*SETTINGS PAGE*/
.settings {
    padding-left: 6vw;
    padding-right: 6vw;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.settings h2 {
    line-height: 50%;
}

/*disable original checkboxes*/
.checkboxes input[type="checkbox"] {
    opacity: 0;
}

/*checkbox text*/
.checkboxes label {
    position: relative;
    display: inline-block;

    /*16px width of fake checkbox + 14px distance between fake checkbox and text*/
    padding-left: 10vw;
    line-height: 14vw;
}

/*position before and after tick*/
.checkboxes label::before,
.checkboxes label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkboxes label::before {
    height: 5.75vw;
    width: 5.75vw;
    color: #001ca8;
    border: 0.7vw solid;
    left: 0.2vw;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3.5vw;
}

/*Checkmark of the fake checkbox*/
.checkboxes label::after {
    height: 1.5vw;
    width: 3.5vw;
    border-left: 0.7vw solid;
    border-bottom: 0.7vw solid;
    color: #001ca8;
    transform: rotate(-45deg);

    left: 1.5vw;
    top: 5.1vw;
}

/*Hide the checkmark by default*/
.checkboxes input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkboxes input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkboxes input[type="checkbox"]:focus + label::before {
    outline: #001eff  auto 4px;

}
