html, body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 6vw;
  color: #333;
}

.navigation {
  height: 18vw;
  display: flex;
  justify-content: space-between;
}

.upper {
  position: relative;
  padding-left: 6vw;
  padding-right: 6vw;
  top: 2vw;
}

.lower {
  text-align: center;
  position: absolute;
  bottom: 0%;
  width: 100%;
}



/*Text Styling*/
h1 {
  font-size: 15vw;
}

h2 {
  font-size: 13vw;
}

h3 {
  font-size: 10vw;
}

h4 {
  font-size: 7vw; 
}

p {
  font-size: 7vw;
}

/*SPECIFIC TEXT STYLING*/
.upper h1 {
    margin-top: 8vw;
    margin-bottom: 4vw;
}

.upper p {
    margin-top: 3vw;
}

.center {
    text-align: center;
}

.margin-top-0 {
    margin-top: 0vw;
}

.select-subtitle {
    margin: 0vw;
}

.select p {
  font-size: 5vw;
  margin-left: 16vw;
  margin-right: 16vw;
}

#title-category {
  margin-top: 8vh;
  margin-bottom: 2vh;
}

.questionCat{
    margin-bottom: 2vh;
}

/*Animations*/
.deepTitle, .deepSubtitle {
  text-align: center; 
-webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
        animation: fadein 1.5s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/*RADIO BUTTONS*/
.radio-frame {
  width: 100vw;
  display: block;
  text-align: center;
}

.select-radio {
  width:100%;
  margin:0;
  padding:0 0 4vw;
  display:block;
}

/*Bar behind checkboxes*/
.radio-bg {
  display: block;
  position: relative;
  top:8.0vw;
  border: 0.5vw solid #000;
  width: 55%;
}

/*Placement of radio buttons*/
.select-radio li {
  display:inline-block;
  width:18%;
}

.select-radio li input[type=radio] {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
}

input[type=radio] + label {
  z-index: 1;
  position: relative;
}

/*New Radio Buttons*/
input[type=radio] + label:before {
  content: '';
  background-color: #fff;
  border: 1vw solid #000;
  border-radius: 100%;
  display: inline-block;
  width: 8vw;
  height: 8vw;
  cursor: pointer;
}

input[type=radio]:checked + label:before {
  background-color: #b5c1ff;
  /* box-shadow: inset 0 0 0 .1rem rgba(255, 255, 255, .95); */
}

/*Buttons*/
button.push {
  background-color: #001ca8;
  color: #ffffff;
  font-size: 7vw;
  padding: 3vw 14vw;
  margin: 9vw;
  display: inline-block;
  border-radius: 3vw;
  border: 1vw solid #b5c1ff;
  cursor: pointer;
  outline: none;
  transition: background 50ms ease-in-out,
  transform 50ms ease;
}

button.push:active {
  background-color: #000156;
  transition-duration: 50ms;
  transform: scale(0.98);
}

/*Button to go to the settings page*/

button.settings {
    background-color: transparent;
    border: none;
    color: #001ca8;
    padding: 3vw 3vw;
    font-size: 9vw;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}


button.settings:active {
    color: #000156;
    transform: scale(0.95);
}

button.select-icon {
  background-color: transparent;
  width: 16vw;
  border: none;
  color: #001ca8;
  cursor: pointer;
}

button.select-icon:active {
  color: #000156;
  transform: scale(0.95);
}

button.previous {
    background-color: transparent;
    border: none;
    color: #001ca8;
    padding: 0 2.75vw;
    font-size: 9vw;
    cursor: pointer;
    outline: none;
    box-shadow: none;
}

button.previous:active {
    color: #000156;
    transform: scale(0.8);

}

button.close {
    background-color: transparent;
    border: none;
    color: #001ca8;
    padding: 2.75vw 4.5vw;
    transform: scale(1.05);
    text-align: center;
    font-size: 10vw;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

button.close:active {
    color: #000156;
    transform: scale(0.95);
}

/*SETTINGS PAGE*/
.settings {
    padding-left: 6vw;
    padding-right: 6vw;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.settings h2 {
    line-height: 50%;
}

/*SVG*/
img.svg-intro {
    width: 22vw;
    display: block;
    text-align: center;
    padding: 10vw 0vw 0vw 0vw;
    margin: auto;
}

img.svg-category {
    height: 15vh;
    display: block;
    text-align: center;
    padding: 6vw;
    margin: auto;
}

/*Night Mode*/
.night-mode .upper h1 {
  color: #b5c1ff;
}

.night-mode .upper h2 {
  color: #b5c1ff;
}

.night-mode body {
  color: #fff;
  background-color: #333;
}

.night-mode button.settings {
  color: #b5c1ff;
}

.night-mode button.push {
  background-color: transparent;
  color: #b5c1ff;
  border: 1vw solid #b5c1ff;
}

.night-mode input[type=radio] + label:before {
  background-color: #333;
  border: 1vw solid #fff;
}

.night-mode input[type=radio]:checked + label:before {
  background-color: #b5c1ff;
  border: 1vw solid #fff;
  /* box-shadow: inset 0 0 0 .1rem rgba(255, 255, 255, .95); */
}

.night-mode button.previous {
  color: #b5c1ff;
}

.night-mode .radio-bg {
  border: 0.5vw solid #fff;
}